.container {
    position: sticky;
    display: flex;
    background-color: brown;
    width: 100%;
  
}

.nav {
    width: 60%;
  
    padding-top: 5px;
   
}
.remaining {
    width: 40%;
    display: flex;
    justify-content: center;
   align-items: center;
}
.remaining button {
    padding: 10px 20px;
    font: inherit;
    background-color: brown;
    border: 1px solid white;
    color:  white;
}
.remaining button:hover {
    background-color: rgb(138, 32, 32);

}

.container ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 5px;
  
}

.container a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-family: sans-serif;
}


.container a:focus {
   
   color:  white;
  }