.container {
    position: sticky;
    display: flex;
    background-color: brown;
    width: 100%;
  
}

.nav {
    width: 60%;
    background-color: rgb(231, 116, 116);
   
}
.remaining {
    width: 40%;
    display: flex;
    justify-content: center;
   align-items: center;
}

.container ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 5px;
  
}

.container a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-family: sans-serif;
}


.container a:focus {
   
   color:  white;
  }